---
layout: default.hbs
---
    <section class="nsw-section nsw-section--off-white nsw-p-top-lg nsw-p-bottom-lg">
      <div class="nsw-container">
        <div class="nsw-layout">
          <div class="nsw-layout__main">
            <h2>Creating Personas</h2>
            <p class="nsw-intro">Customer personas are fictional characters whose goals represent a larger group of people. They are research outputs, created by analysing stories and quantitative data about your customers, related to your product.</p>
            <p class="nsw-intro">No matter how good, personas aren’t stand-ins for involving real people with diverse experiences in your design process. </p>
            <h3>Purpose</h3>
            <p>Personas allow teams to have conversations about what to focus on when developing solutions. They help articulate&nbsp;what customers value, what they need to achieve and what is getting in the way of them achieving their goals (for example, changing their name, paying a fine, or booking an appointment).</p>


            <div class="nsw-in-page-note nsw-in-page-note--info nsw-in-page-note--info-dark">
              <span class="material-icons nsw-material-icons nsw-in-page-note__icon" focusable="false" aria-hidden="true">info</span>
              <div class="nsw-in-page-note__content">
                <h4>Do research before personas</h4>
                <p>If you’ve not done user research, such as interviews, customer journey mapping, and reviewing quantitative data, you’re not ready to create personas. &nbsp;</p>
              </div>
            </div>

            <h3>Persona details</h3>
            <p>The information that can be captured for the persona is:</p>
            <h4>General</h4>
            <ul>
              <li>Name of the persona or group</li>
            	<li>Occupation (where relevant to the project)</li>
            </ul>
            <p>
              If your research indicates that demography (such as gender, income, education, or location) significantly
              differentiates your customers' goals and barriers, you might include that detail in the persona.
              Inclusion of demography should be done carefully, as including demography (such as employment status, gender, ethnicity)
              can often reinforce assumptions about marginalised groups, and can result in people from marginalised groups being
              discussed, without having the opportunity to be a part of the conversation.
            </p>
            <h4>Goals and challenges</h4>
            <ul>
              <li>Primary goals and what gets in the way (pain points)</li>
            	<li>How the product or service could help achieve these goals</li>
            </ul>
            <h4>Story from the future</h4>
            <p>
              Some personas include a short story to help project teams agree on how things could change and communicate that through an
              improved, customer experience.
            </p>
            <h3>Template</h3>
            <ul>
              <li>Based on your first-hand research, create a draft persona for each&nbsp;segment&nbsp;or group of customer needs</li>
            	<li>Include goals, and barriers.</li>
            </ul>
            <h4>Layout example</h4>
            <figure class="nsw-media nsw-media--100 nsw-graphic-border">
              <img src="/assets/persona-template-2x.png" alt="Persona template preview">
            </figure>
            <p>
              <a class="nsw-button nsw-button--dark" href="/assets/NSW Persona Template.pptx"><span>Download template (.pptx)</span><span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">download</span></a>
            </p>
          </div>
          <div class="nsw-layout__sidebar nsw-layout__sidebar--desktop">
            {{>wiki-message}}
          </div>
        </div>
      </div>
    </section>
