@import '../../node_modules/nsw-design-system/src/main';
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.nsw-main-nav {
  --nsw-off-white: var(--nsw-palette-white)
}
 .nsw-use-supplementary {
   --nsw-brand-dark: var(--nsw-brand-supplementary);
 }
.nsw-results-bar {
  min-height:52px;
}
.nsw-main-nav a {
  border-bottom: 3px solid transparent;
  &:hover {
    background: transparent;
    border-bottom: 3px solid var(--nsw-brand-dark);
    box-sizing: border-box;
  }
}
.nsw-footer__built {
  flex: none;
}
.nsw-section--brand-supplementary {
  --nsw-text-hover: var(--nsw-palette-off-white);
  --nsw-focus: var(--nsw-palette-blue-04);
}

.nsw-intro-partial {
  max-width: 70%;
}

.nsw-timeline {
    position: relative;
    margin-top: 2.25rem
}

@media (min-width:48em) {
    .nsw-timeline {
        margin-top: 2.625rem
    }
}

.nsw-timeline:before {
    content: attr(data-count);
    position: absolute;
    left: 1rem;
    top: 0.25rem;
    bottom: 0;
    background-color: var(--nsw-palette-white);
    width: .25rem
}

@media (min-width:48em) {
    .nsw-timeline:before {
        width: .375rem;
        left: 1.5625rem
    }
}

.nsw-timeline__item {
    position: relative;
    padding-left: 3.25rem;
    margin-top: 1rem
}

@media (min-width:48em) {
    .nsw-timeline__item {
        padding-left: 5rem;
        margin-top: 2.25rem
    }
}

.nsw-timeline__item:before {
    content: attr(data-count);
    position: absolute;
    left: 0.5rem;
    top: 0.25rem;
    border: .25rem solid var(--nsw-palette-white);
    width: 1.125rem;
    height: 1.125rem;
    background-color: var(--nsw-brand-supplementary);
    border-radius: 100%
}

@media (min-width:48em) {
    .nsw-timeline__item:before {
        top: 0.125;
        left: 0.875rem;
        border-width: .375rem;
        width: 1.75rem;
        height: 1.75rem
    }
}

.nsw-timeline__item:first-child {
    margin-top: 0
}

.nsw-timeline__content {
    margin-top: 1rem
}

@media (min-width:48em) {
    .nsw-timeline__content {
        margin-top: 1.5rem;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;

    }
}
