@import '../../node_modules/nsw-design-system/src/main';
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@import 'styles/helpers.scss';
@import 'styles/overrides.scss';
@import 'styles/timeline.scss';
@import 'styles/rats.scss';
@import 'styles/grid-border.scss';

.standards-list {
  position: relative;
  border-radius: var(--nsw-border-radius);
  cursor: pointer;
  &:hover{
    background: var(--nsw-off-white);
    .standards-link.nsw-material-icons {
      color:var(--nsw-palette-grey-02);
    }
    .standard-number {
      color: var(--nsw-brand-supplementary);
    }
  }
  .standards-link.nsw-material-icons {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: scale(2) translateY(-25%);
    color: var(--nsw-palette-grey-03);
  }
  .standard-number {
    font-size: var(--nsw-font-size-xl-desktop);
    text-align: center;
    font-weight: var(--nsw-font-bold);
  }
}

.nsw-main-nav li a.icon-nav-item {
  background: var(--nsw-brand-supplementary);
  border-color: var(--nsw-palette-white);
  color: var(--nsw-palette-white);
  &:hover {
    background-image: linear-gradient(rgba(var(--nsw-white-rgb),.15),rgba(var(--nsw-white-rgb),.15));
  }
  .material-icons {
    font-size: 1.5rem;
    line-height: .625rem;
    position: relative;
    top: 0.375rem;
  }
}

@media (min-width:62em) {
  .nsw-main-nav li a.icon-nav-item {
    margin-left: 2rem;
  }
}

// .standards-list {
//   position: relative;
//   border-radius: var(--nsw-border-radius);
//   cursor: pointer;
//   &:hover{
//     background: var(--nsw-brand-dark);
//     .standards-link.nsw-material-icons, a, .standard-number, p {
//       color:var(--nsw-text-light);
//     }
//   }
//   .standards-link.nsw-material-icons {
//     position: absolute;
//     right: 1rem;
//     top: 50%;
//     transform: scale(2) translateY(-25%);
//     color: var(--nsw-palette-grey-03);
//   }
//   .standard-number {
//     font-size: var(--nsw-font-size-xl-desktop);
//     text-align: center;
//     font-weight: var(--nsw-font-bold);
//   }
// }





// .nsw-tag.nsw-tag--beta {
//   color: var(--nsw-text-dark);
//   border-color: var(--nsw-palette-yellow-02);
//   background: var(--nsw-palette-yellow-02);
// }
