<div class="standards-list nsw-p-y-sm nsw-m-y-sm nsw-p-x-sm">
  <div class="nsw-grid">
    <div class="nsw-col-sm-1 standard-number">
      {{number}}
    </div>
    <div class="nsw-col-sm-11">
      <h3 class="nsw-h3"><a href="{{link}}">{{title}}</a></h3>
      <p class="nsw-intro--partial">{{copy}}​</p>
      <span class="standards-link material-icons nsw-material-icons" focusable="false" aria-hidden="true">chevron_right</span>
    </div>
  </div>
</div>
<hr>
