<div class="nsw-p-md nsw-section--white nsw-border--white">
  <h3>Improve this content</h3>
  <p>
    <svg class="nsw-float--right" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="100px" width="100px" version="1.1" x="0px" y="0px" viewBox="0 0 48 48" xml:space="preserve">
       <path class="nsw-fill--brand-dark" d="M18.1,32c-0.6,0-1.1-0.2-1.5-0.6c-0.5-0.5-0.7-1.1-0.6-1.7l0.4-4c0.1-0.5,0.3-0.9,0.6-1.3L34.5,7c0.8-0.8,2.2-0.8,3,0  l3.5,3.5c0.4,0.4,0.6,0.9,0.6,1.5s-0.2,1.1-0.6,1.5L23.6,30.9c-0.3,0.3-0.8,0.6-1.3,0.6l-4,0.4C18.3,32,18.2,32,18.1,32z M36,8.3  C36,8.3,35.9,8.4,36,8.3L18.5,25.8l-0.5,4c0,0,0,0.1,0,0.1c0,0,0.1,0,0.1,0l4-0.4c0,0,0.1,0,0.1,0L39.7,12l0-0.1L36,8.3  C36.1,8.4,36,8.3,36,8.3z M36.3,35.7V24.1c0-0.6-0.4-1-1-1s-1,0.4-1,1v11.6c0,2.2-1.8,4-4,4h-18c-2.2,0-4-1.8-4-4v-18  c0-2.2,1.8-4,4-4h11.7c0.6,0,1-0.4,1-1s-0.4-1-1-1H12.3c-3.3,0-6,2.7-6,6v18c0,3.3,2.7,6,6,6h18C33.6,41.7,36.3,39,36.3,35.7z"/>
    </svg>
    The content on this site is submitted by, and can be changed by, anyone who creates NSW Government products and services.
  </p>
  <p>If you would like to make changes, please see our guide to <a href="#">contributing to the NSW Digital Service Toolkit</a>.</p>
</div>
