.nsw-in-page-alert--info-dark {
  --nsw-status-info-bg: var(--nsw-palette-info-blue);
  color: var(--nsw-palette-white);
  .nsw-in-page-alert__icon {
    color: var(--nsw-palette-info-blue-bg);
  }
}

.nsw-icon-list {
    list-style-type: none;
    padding: 0;
    margin: .5rem -.5rem -.5rem -.5rem;
    .nsw-material-icons {
      position: static;
    }
}

.nsw-icon-list:first-child {
    margin-top: -.5rem
}

.nsw-icon-list a {
    font-family: "Montserrat", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 600;
    color: #002664;
    display: inline-block;
    font-weight: normal
}

.nsw-icon-list a:hover {
    background-color: rgba(0, 133, 179, 0.2);
    outline: 2px solid rgba(0, 133, 179, 0.2)
}

.nsw-icon-list a:focus {
    outline: solid 3px #0085b3;
    outline-offset: 0
}

.nsw-icon-list a:active {
    background-color: #0085b3;
    color: #fff
}

.nsw-icon-list li {
    padding: .5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.nsw-icon-list i {
    font-size: 2rem;
    margin-right: .5rem
}

@media (min-width:62em) {
    .nsw-icon-list--inline {
        margin-left: -2rem;
        margin-right: -2rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }
    .nsw-icon-list--inline li {
        padding-left: 1.5rem;
        padding-right: 1.5rem
    }
}

@media (min-width:62em) {
    .nsw-icon-list--spaced {
        margin-left: -2rem;
        margin-right: -2rem
    }
    .nsw-icon-list--spaced li {
        padding-left: 2rem;
        padding-right: 2rem
    }
    .nsw-icon-list--spaced i {
        margin-right: 1rem
    }
}

.nsw-icon-list--compact {
    margin-top: .375rem;
    margin-bottom: -.125rem
}

.nsw-icon-list--compact li {
    padding-top: .125rem;
    padding-bottom: .125rem
}

.nsw-icon-list--small {
    margin-top: -.25rem;
    margin-bottom: -.25rem
}

.nsw-icon-list--small li {
    padding-top: .25rem;
    padding-bottom: .25rem;
}

.nsw-icon-list--small i {
    font-size: 1.5rem
}
.nsw-image {
    width: 100%;
    height: auto;
    display: block;
    border: 0;
}

.nsw-tag.nsw-tag--featured, .nsw-research .form-radios .form-item .nsw-tag--featured.option, .form-radios .form-item .nsw-research .nsw-tag--featured.option {
    background-color: #f9be00;
    color: #333;
    border: none;
}

.nsw-card__tags {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: -1rem -.5rem 0 0
}

.nsw-card__tags span {
    font-family: "Montserrat", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: .875rem;
    line-height: 1.35;
    border-radius: .8125rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 1rem .5rem 0 0;
    padding-top: 2px;
    padding-bottom: 2px;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    background-color: #002664;
    margin-bottom: 1em
}

@media (min-width:62em) {
    .nsw-card__tags span {
        font-size: .875rem;
        line-height: 1.35
    }
}

.nsw-card--activity .nsw-card__tags span {
    background-color: #0a7cb9
}

.nsw-card--presentation .nsw-card__tags span {
    background-color: #752f8a
}

.nsw-card--document .nsw-card__tags span {
    background-color: #4a8217
}

.nsw-card--featured .nsw-card__tags span {
    background-color: #f9be00;
    color: #333
}

.nsw-card--at__content .nsw-icon-list {
    padding-top: 1rem
}

.nsw-card__author {
    font-size: .875rem;
    line-height: 1.35;
    font-weight: bolder;
    margin: .5rem 0 0
}

@media (min-width:62em) {
    .nsw-card--at__author {
        font-size: .875rem;
        line-height: 1.35
    }
}

.nsw-card--at .nsw-card__icon {
    margin: 1rem;
    margin: 1rem 0rem;
    margin: 1rem 0rem 0rem;
    margin: 1rem 0rem 0rem 0rem;
    position: absolute;
    bottom: .8125rem;
    left: .8125rem
}

@media (min-width:62em) {
    .nsw-card--at .nsw-card__icon {
        margin: 2rem;
        margin: 2rem 0rem;
        margin: 2rem 0rem 0rem;
        margin: 2rem 0rem 0rem 0rem;
        bottom: 1.8125rem;
        left: 1.75rem
    }
}
