
.nsw-timeline {
    position: relative;
    margin-top: 2.25rem
}

@media (min-width:48em) {
    .nsw-timeline {
        margin-top: 2.625rem
    }
}

.nsw-timeline:before {
    content: attr(data-count);
    position: absolute;
    left: 1rem;
    top: 0.25rem;
    bottom: 0;
    background-color: var(--nsw-brand-dark);
    width: .25rem
}

@media (min-width:48em) {
    .nsw-timeline:before {
        width: .375rem;
        left: 1.5625rem
    }
}

.nsw-timeline__item {
    position: relative;
    padding-left: 3.25rem;
    margin-top: 1rem
}

@media (min-width:48em) {
    .nsw-timeline__item {
        padding-left: 5rem;
        margin-top: 2.25rem
    }
}

.nsw-timeline__item:before {
    content: attr(data-count);
    position: absolute;
    left: 0.5rem;
    top: 0.25rem;
    border: .25rem solid var(--nsw-brand-dark);
    width: 1.125rem;
    height: 1.125rem;
    background-color: var(--nsw-brand-light);
    border-radius: 100%
}

@media (min-width:48em) {
    .nsw-timeline__item:before {
        top: 0.125;
        left: 0.875rem;
        border-width: .375rem;
        width: 1.75rem;
        height: 1.75rem
    }
}

.nsw-timeline__item:first-child {
    margin-top: 0
}

.nsw-timeline__content {
    margin-top: 1rem
}

@media (min-width:48em) {
    .nsw-timeline__content {
        margin-top: 1.5rem;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;

    }
}
