---
layout: default.hbs
---
<section class="nsw-section nsw-section--off-white nsw-p-top-lg nsw-p-bottom-lg">
  <div class="nsw-container">
    <h2>Design Systems</h2>
    <div class="nsw-layout">
      <div class="nsw-layout__main">
        <p class="nsw-intro">NSW Government has a centrally maintained open-to-everyone design system, and additional GELs and component libraries are available in several departments.</p>
      </div>
      <div class="nsw-layout__sidebar nsw-layout__sidebar--desktop"></div>
    </div>
  </div>
</section>

<section class="nsw-section nsw-section--white nsw-p-top-lg nsw-p-bottom-lg">
  <div class="nsw-container">
    <div class="nsw-grid">
      <div class="nsw-col nsw-col-lg-4">
        <h2>NSW brand framework</h2>
      </div>
      <div class="nsw-col nsw-col-lg-8">
        <p>NSW Government branding applies to all government entities, with rules for those who use the waratah logo and those who are co-brand, standalone, or independent.</p>
        <p>Follow the branding rules at all times, even if you're not using a pre-made design system or GEL.</p>
      </div>
    </div>
    <div class="nsw-grid nsw-m-top-lg">
      <div class="nsw-col nsw-col-xs-6 nsw-col-md-4 nsw-col-lg-2">
        <p class="nsw-center-align">
          <svg class="nsw-m-bottom-xs" width="60" height="64" viewBox="0 0 60 54" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M5.57715 3C5.57715 1.34315 6.92029 -2.93554e-08 8.57715 -6.55671e-08L51.5771 -1.00536e-06C53.234 -1.04157e-06 54.5771 1.34315 54.5771 3L54.5771 51C54.5771 52.6569 53.234 54 51.5771 54L8.57715 54C6.92029 54 5.57715 52.6569 5.57715 51L5.57715 3ZM8.57715 2C8.02486 2 7.57715 2.44772 7.57715 3L7.57715 51C7.57715 51.5523 8.02486 52 8.57715 52L51.5771 52C52.1294 52 52.5771 51.5523 52.5771 51L52.5771 3C52.5771 2.44771 52.1294 2 51.5771 2L8.57715 2Z" fill="#333333"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M0 7.7659C0 7.21361 0.447715 6.7659 1 6.7659H5.81438C6.36666 6.7659 6.81438 7.21361 6.81438 7.7659C6.81438 8.31818 6.36666 8.7659 5.81438 8.7659H2.01631C2.52548 24.349 14.8896 36.7659 30 36.7659C45.1104 36.7659 57.4745 24.349 57.9837 8.7659H54.1856C53.6333 8.7659 53.1856 8.31818 53.1856 7.7659C53.1856 7.21361 53.6333 6.7659 54.1856 6.7659H59C59.5523 6.7659 60 7.21361 60 7.7659C60 24.8545 46.6002 38.7659 30 38.7659C13.3998 38.7659 0 24.8545 0 7.7659Z" fill="#333333"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M49 1C49 0.447715 48.5523 0 48 0H12C11.4477 0 11 0.447715 11 1V7.5C11 8.27169 11.2972 9.34044 12.1415 10.2227C13.0104 11.1305 14.3696 11.75 16.32 11.75C18.3897 11.75 19.9646 11.0622 21.08 10.2098V16.1667C21.08 16.9384 21.3772 18.0071 22.2215 18.8893C23.0904 19.7972 24.4496 20.4167 26.4 20.4167C27.7981 20.4167 28.8923 20.0984 29.72 19.5837V23.75C29.72 24.5217 30.0172 25.5904 30.8615 26.4727C31.7304 27.3805 33.0896 28 35.04 28C36.9904 28 38.3496 27.3805 39.2185 26.4727C40.0628 25.5904 40.36 24.5217 40.36 23.75V15.2504C41.1877 15.7651 42.2819 16.0833 43.68 16.0833C45.6304 16.0833 46.9896 15.4639 47.8585 14.556C48.7028 13.6738 49 12.605 49 11.8333V1ZM38.36 11.8333V23.75C38.36 24.0616 38.2252 24.6179 37.7735 25.0898C37.3464 25.5361 36.5456 26 35.04 26C33.5344 26 32.7336 25.5361 32.3065 25.0898C31.8548 24.6179 31.72 24.0616 31.72 23.75V16.1667C31.72 15.6144 31.2723 15.1667 30.72 15.1667C30.1677 15.1667 29.72 15.6144 29.72 16.1667C29.72 16.4783 29.5852 17.0346 29.1335 17.5065C28.7064 17.9528 27.9056 18.4167 26.4 18.4167C24.8944 18.4167 24.0936 17.9528 23.6665 17.5065C23.2148 17.0346 23.08 16.4783 23.08 16.1667V7.5C23.08 7.0275 22.7493 6.61949 22.287 6.52167C21.8248 6.42384 21.3571 6.66292 21.1657 7.09491C20.8171 7.88168 19.3138 9.75 16.32 9.75C14.8144 9.75 14.0136 9.28613 13.5865 8.83983C13.1348 8.36789 13 7.81165 13 7.5V2H47V11.8333C47 12.145 46.8652 12.7012 46.4135 13.1732C45.9864 13.6195 45.1856 14.0833 43.68 14.0833C42.1744 14.0833 41.3736 13.6195 40.9465 13.1732C40.4948 12.7012 40.36 12.145 40.36 11.8333C40.36 11.281 39.9123 10.8333 39.36 10.8333C38.8077 10.8333 38.36 11.281 38.36 11.8333Z" fill="#146CFD"/>
          </svg>
        </p>
        <p class="nsw-center-align">
          <a class="nsw-link nsw-link--icon" href="#">
            <span>Colour</span>
            <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
          </a>
        </p>
      </div>
      <div class="nsw-col nsw-col-xs-6 nsw-col-md-4 nsw-col-lg-2">
        <p class="nsw-center-align">
          <svg class="nsw-m-bottom-xs" width="60" height="64" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M13.2079 29.5878C13.3698 29.23 13.7263 29 14.1191 29H18.2619C18.8142 29 19.2619 29.4477 19.2619 30C19.2619 30.5523 18.8142 31 18.2619 31H14.7642L2.54995 58H57.4501L45.2358 31H34.8333C34.2811 31 33.8333 30.5523 33.8333 30C33.8333 29.4477 34.2811 29 34.8333 29H45.881C46.2738 29 46.6302 29.23 46.7921 29.5878L59.9111 58.5878C60.0511 58.8973 60.0244 59.2567 59.8403 59.5421C59.6561 59.8276 59.3397 60 59 60H1C0.660323 60 0.343869 59.8276 0.159715 59.5421C-0.0244396 59.2567 -0.0511105 58.8973 0.0888947 58.5878L13.2079 29.5878Z" fill="#333333"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M43.4357 6.25343C44.2037 6.85852 44.4311 7.95147 43.9279 8.82309L30.1798 32.6355C30.071 32.8238 29.9323 32.9932 29.769 33.1369L23.0313 39.0662C22.3947 39.6265 21.4738 39.7243 20.7336 39.3103C19.9935 38.8962 19.5949 38.0604 19.7392 37.2246L21.2807 28.2952C21.3208 28.063 21.4017 27.8396 21.5195 27.6355L35.2676 3.82309C35.7848 2.92736 36.8902 2.583 37.8141 2.99625L38.9247 1.07272C39.4769 0.116137 40.7001 -0.211614 41.6567 0.340671L43.8192 1.58917C44.7758 2.14146 45.1035 3.36464 44.5512 4.32122L43.4357 6.25343ZM40.6567 2.07272L40.0292 3.15957L42.1917 4.40807L42.8192 3.32122L40.6567 2.07272ZM36.9997 4.82309L35.994 6.56495L41.1397 9.65236L42.1958 7.82309L36.9997 4.82309ZM34.9939 8.29724L40.1395 11.3847L28.919 30.8192L23.7733 27.7318L34.9939 8.29724ZM23.077 29.6465L21.7101 37.5648L27.6144 32.3689L23.077 29.6465Z" fill="#333333"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M26.8165 37.9281C26.8562 37.3773 27.335 36.9629 27.8858 37.0026C28.3297 37.0346 28.8456 37.0677 29.4116 37.104C31.3781 37.23 33.9494 37.3949 36.2044 37.6878C37.6522 37.8758 39.037 38.1243 40.08 38.4719C40.5959 38.6438 41.0975 38.8621 41.489 39.156C41.8781 39.448 42.3023 39.9309 42.3023 40.625C42.3023 41.7085 41.4099 42.4082 40.6693 42.8325C39.8456 43.3045 38.7269 43.7116 37.4724 44.0772C34.951 44.8122 31.6113 45.4539 28.3379 46.0762C28.2371 46.0953 28.1363 46.1145 28.0356 46.1336C24.8358 46.7417 21.7203 47.3337 19.3783 47.9867C18.1644 48.3252 17.224 48.6627 16.6056 48.997C16.2957 49.1645 16.1192 49.3035 16.031 49.3993C16.018 49.4135 16.0083 49.4251 16.0012 49.4341C16.0105 49.6495 16.0714 49.7843 16.1618 49.8944C16.2765 50.0342 16.5029 50.2097 16.9491 50.3807C17.8683 50.733 19.3874 50.9464 21.7037 51.0478C24.4539 51.1683 28.116 51.1281 32.8548 51.0759C36.0602 51.0407 39.7583 51 44 51C44.5523 51 45 51.4477 45 52C45 52.5523 44.5523 53 44 53C39.8413 53 36.1736 53.0401 32.9712 53.075C28.1693 53.1275 24.4133 53.1685 21.6161 53.0459C19.2957 52.9443 17.4849 52.7279 16.2333 52.2482C15.5942 52.0033 15.0249 51.6621 14.6154 51.1628C14.1895 50.6435 14 50.0308 14 49.375C14 48.822 14.2563 48.3741 14.5597 48.0446C14.8569 47.7219 15.2455 47.4586 15.6547 47.2374C16.4747 46.7943 17.5893 46.4092 18.8412 46.0602C21.2665 45.384 24.4547 44.7782 27.6107 44.1786C27.7287 44.1562 27.8466 44.1338 27.9644 44.1114C31.2666 43.4836 34.5025 42.8597 36.9128 42.1572C38.1242 41.8041 39.0603 41.4494 39.675 41.0972C39.9758 40.9249 40.1338 40.792 40.2163 40.7059C40.0636 40.6087 39.8152 40.4918 39.4476 40.3693C38.5938 40.0847 37.3652 39.8553 35.9468 39.6711C33.7644 39.3876 31.2921 39.229 29.3299 39.103C28.749 39.0658 28.2128 39.0314 27.7421 38.9974C27.1912 38.9577 26.7768 38.479 26.8165 37.9281ZM40.3558 40.814C40.3557 40.814 40.3545 40.8127 40.3525 40.8101C40.3549 40.8127 40.3559 40.814 40.3558 40.814ZM15.9844 49.4586C15.9844 49.4587 15.9847 49.4579 15.9855 49.4565C15.9849 49.4579 15.9845 49.4586 15.9844 49.4586Z" fill="#146CFD"/>
          </svg>
        </p>
        <p class="nsw-center-align">
          <a class="nsw-link nsw-link--icon" href="#">
            <span>Typography</span>
            <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
          </a>
        </p>
      </div>
      <div class="nsw-col nsw-col-xs-6 nsw-col-md-4 nsw-col-lg-2">
        <p class="nsw-center-align">
          <svg class="nsw-m-bottom-xs" width="60" height="64" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="1" y="1" width="58" height="26" rx="1" stroke="#333333" stroke-width="2"/>
            <rect x="1" y="1" width="58" height="26" rx="1" stroke="#333333" stroke-width="2"/>
            <rect x="1" y="33" width="58" height="26" rx="1" stroke="#146CFD" stroke-width="2"/>
            <path d="M51 46L38 46" stroke="#146CFD" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M46.7071 40.2929C46.3166 39.9024 45.6834 39.9024 45.2929 40.2929C44.9024 40.6834 44.9024 41.3166 45.2929 41.7071L46.7071 40.2929ZM50.6464 45.6465L51.3535 44.9394L51.3535 44.9394L50.6464 45.6465ZM45.2929 50.2929C44.9024 50.6834 44.9024 51.3166 45.2929 51.7071C45.6834 52.0976 46.3166 52.0976 46.7071 51.7071L45.2929 50.2929ZM45.2929 41.7071L49.9393 46.3536L51.3535 44.9394L46.7071 40.2929L45.2929 41.7071ZM49.9393 45.6465L45.2929 50.2929L46.7071 51.7071L51.3535 47.0607L49.9393 45.6465ZM49.9393 46.3536C49.7441 46.1583 49.7441 45.8417 49.9393 45.6465L51.3535 47.0607C51.9393 46.4749 51.9393 45.5252 51.3535 44.9394L49.9393 46.3536Z" fill="#146CFD"/>
          </svg>
        </p>
        <p class="nsw-center-align">
          <a class="nsw-link nsw-link--icon" href="#">
            <span>Iconography</span>
            <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
          </a>
        </p>
      </div>
      <div class="nsw-col nsw-col-xs-6 nsw-col-md-4 nsw-col-lg-2">
        <p class="nsw-center-align">
          <svg class="nsw-m-bottom-xs" width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M24.748 18.5992C13.2771 18.5992 3.97809 27.8732 3.97809 39.3132C3.97809 50.7533 13.2771 60.0272 24.748 60.0272C36.2189 60.0272 45.518 50.7533 45.518 39.3132C45.518 27.8732 36.2189 18.5992 24.748 18.5992ZM2 39.3132C2 26.7837 12.1846 16.6265 24.748 16.6265C37.3114 16.6265 47.496 26.7837 47.496 39.3132C47.496 51.8428 37.3114 62 24.748 62C12.1846 62 2 51.8428 2 39.3132Z" fill="#333333"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M24.7484 29.4494C19.2861 29.4494 14.858 33.8656 14.858 39.3132C14.858 44.7609 19.2861 49.177 24.7484 49.177C30.2108 49.177 34.6389 44.7609 34.6389 39.3132C34.6389 38.6996 34.5828 38.0999 34.4757 37.5187C34.3771 36.9829 34.7326 36.4687 35.2698 36.3703C35.8071 36.2719 36.3226 36.6265 36.4213 37.1623C36.5499 37.8605 36.617 38.5795 36.617 39.3132C36.617 45.8504 31.3032 51.1498 24.7484 51.1498C18.1936 51.1498 12.8799 45.8504 12.8799 39.3132C12.8799 32.7761 18.1936 27.4767 24.7484 27.4767C25.4841 27.4767 26.2051 27.5435 26.9052 27.6718C27.4424 27.7702 27.798 28.2843 27.6993 28.8201C27.6006 29.3559 27.0851 29.7105 26.5478 29.6121C25.965 29.5053 25.3637 29.4494 24.7484 29.4494Z" fill="#146CFD"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M24.049 39.6021C23.6627 39.2169 23.6627 38.5924 24.049 38.2072L45.3983 16.9154C45.7845 16.5302 46.4107 16.5302 46.797 16.9154C47.1832 17.3006 47.1832 17.9251 46.797 18.3103L25.4477 39.6021C25.0614 39.9873 24.4352 39.9873 24.049 39.6021Z" fill="#333333"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M53.8884 2.89507C54.5809 3.09517 55.1094 3.65521 55.2677 4.35672L56.0705 7.91383L59.6372 8.71447C60.3406 8.87236 60.9022 9.39944 61.1028 10.0901C61.3035 10.7808 61.1114 11.5256 60.6016 12.034L53.1142 19.5013C52.6346 19.9796 51.9427 20.1795 51.2811 20.031L46.4937 18.9563C45.7482 18.789 45.166 18.2084 44.9982 17.4649L43.9207 12.6904C43.7717 12.0305 43.9722 11.3405 44.4517 10.8622L51.9392 3.39495C52.449 2.8865 53.1958 2.69497 53.8884 2.89507ZM54.4154 9.56443L53.3379 4.78991L45.8505 12.2572L46.928 17.0317L51.7154 18.1063L59.2029 10.6391L54.4154 9.56443Z" fill="#146CFD"/>
          </svg>
        </p>
        <p class="nsw-center-align">
          <a class="nsw-link nsw-link--icon" href="#">
            <span>Pictograms</span>
            <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
          </a>
        </p>
      </div>
      <div class="nsw-col nsw-col-xs-6 nsw-col-md-4 nsw-col-lg-2">
        <p class="nsw-center-align">
          <svg class="nsw-m-bottom-xs" width="65" height="64" viewBox="0 0 65 64" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M17 29.2918C23.6274 29.2918 29 23.9192 29 17.2918C29 10.6644 23.6274 5.29181 17 5.29181C10.3726 5.29181 5 10.6644 5 17.2918C5 23.9192 10.3726 29.2918 17 29.2918ZM17 31.2918C24.732 31.2918 31 25.0238 31 17.2918C31 9.55982 24.732 3.29181 17 3.29181C9.26801 3.29181 3 9.55982 3 17.2918C3 25.0238 9.26801 31.2918 17 31.2918Z" fill="#146CFD"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M47 59.2918C53.6274 59.2918 59 53.9192 59 47.2918C59 40.6644 53.6274 35.2918 47 35.2918C40.3726 35.2918 35 40.6644 35 47.2918C35 53.9192 40.3726 59.2918 47 59.2918ZM47 61.2918C54.732 61.2918 61 55.0238 61 47.2918C61 39.5598 54.732 33.2918 47 33.2918C39.268 33.2918 33 39.5598 33 47.2918C33 55.0238 39.268 61.2918 47 61.2918Z" fill="#146CFD"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M59.0407 27.8446L47.8948 5.55279C47.5263 4.81574 46.4745 4.81574 46.1059 5.55279L34.96 27.8446C34.6276 28.5095 35.1111 29.2918 35.8545 29.2918H58.1463C58.8896 29.2918 59.3731 28.5095 59.0407 27.8446ZM49.6836 4.65836C48.5781 2.44721 45.4226 2.44721 44.3171 4.65836L33.1712 26.9502C32.1738 28.9449 33.6243 31.2918 35.8545 31.2918H58.1463C60.3764 31.2918 61.8269 28.9449 60.8295 26.9502L49.6836 4.65836Z" fill="#333333"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M27 35.2918H7C5.89543 35.2918 5 36.1872 5 37.2918V57.2918C5 58.3964 5.89543 59.2918 7 59.2918H27C28.1046 59.2918 29 58.3964 29 57.2918V37.2918C29 36.1872 28.1046 35.2918 27 35.2918ZM7 33.2918C4.79086 33.2918 3 35.0827 3 37.2918V57.2918C3 59.5009 4.79086 61.2918 7 61.2918H27C29.2091 61.2918 31 59.5009 31 57.2918V37.2918C31 35.0827 29.2091 33.2918 27 33.2918H7Z" fill="#333333"/>
          </svg>
        </p>
        <p class="nsw-center-align">
          <a class="nsw-link nsw-link--icon" href="#">
            <span>Spacing</span>
            <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
          </a>
        </p>
      </div>
      <div class="nsw-col nsw-col-xs-6 nsw-col-md-4 nsw-col-lg-2">
        <p class="nsw-center-align">
          <svg class="nsw-m-bottom-xs" width="60" height="64" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M2 1C1.44772 1 1 1.44772 1 2V58C1 58.5523 1.44772 59 2 59H46C46.2652 59 46.5196 58.8946 46.7071 58.7071L52.7071 52.7071L58.7071 46.7071C58.8946 46.5196 59 46.2652 59 46V2C59 1.44772 58.5523 1 58 1H2Z" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M58 46H46V58" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <rect x="37" y="27" width="12" height="12" rx="6" stroke="#146CFD" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <circle cx="10" cy="48" r="3" stroke="#333333" stroke-width="2"/>
            <path d="M11.0001 44.5C14.0001 37 17.7911 30.6948 24.5 25C34.5 16.5116 47 15.6183 50.8473 15.6183M50.8473 15.6183L46 20.9999M50.8473 15.6183L46 10.5" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M15.866 7.5C15.6874 7.1906 15.3573 7 15 7C14.6427 7 14.3126 7.1906 14.134 7.5L8.0718 18C7.89316 18.3094 7.89316 18.6906 8.0718 19C8.25043 19.3094 8.58056 19.5 8.93782 19.5H21.0622C21.4194 19.5 21.7496 19.3094 21.9282 19C22.1068 18.6906 22.1068 18.3094 21.9282 18L15.866 7.5Z" stroke="#146CFD" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <rect x="23" y="41" width="11" height="11" stroke="#146CFD" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </p>
        <p class="nsw-center-align">
          <a class="nsw-link nsw-link--icon" href="#">
            <span>Graphic elements</span>
            <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
          </a>
        </p>
      </div>
    </div>
  </div>
</section>

<section class="nsw-section nsw-section--brand-light nsw-p-top-lg nsw-p-bottom-lg">
  <div class="nsw-container">
    <h2>Primary Design Systems</h2>
    <div class="nsw-grid">
      <div class="nsw-col nsw-col-sm-6">
        <div class="nsw-card">
          <div class="nsw-card__content">
            <div class="nsw-card__title">
              <a href="https://digitalnsw.github.io/nsw-design-system/" target="_blank"> NSW Design System</a>
            </div>
            <div class="nsw-card__copy">
              <p>Use the NSW Design System as a brand-compliant foundation for your own component library, or with its pre-made components.</p>
              <p>Available as: Figma, Framer, HTML &amp; CSS, React, Next.js</p>
            </div>
            <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
          </div>
        </div>
      </div>
      <div class="nsw-col nsw-col-sm-6">
        <div class="nsw-card">
          <div class="nsw-card__content">
            <div class="nsw-card__title">
              <a href="https://gel.service.nsw.gov.au/" target="_blank">Service NSW GEL </a>
            </div>
            <div class="nsw-card__copy">
              <p>Use the Service NSW to build transactions hosted on service.nsw.gov.au. (login required)</p>
              <p>Available as: Figma, Sketch, React</p>
            </div>
            <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

  <section class="nsw-section nsw-section--white nsw-p-top-lg nsw-p-bottom-lg">
    <div class="nsw-container">
      <h2>Other Design Systems</h2>
      <div class="nsw-grid nsw-grid--border nsw-m-top-sm">
        <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
          <h4>NSW Education GEF</h4>
          <p>An experience framework for NSW Education, including principles, products, and patterns.</p>
          <p>
            <a class="nsw-link nsw-link--icon" href="https://education.nsw.gov.au/gef" target="_blank">
              <span>View the NSW Education GEL</span>
              <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
            </a>
          </p>
        </div>
        <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
          <h4>NSW Education GEL</h4>
          <p>An experience language for NSW Education, including content, accessibility, and HCD guidelines.</p>
          <p>
            <a class="nsw-link nsw-link--icon" href="https://education.nsw.gov.au/about-us/gel" target="_blank">
              <span>View the NSW Education GEL</span>
              <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
            </a>
          </p>
        </div>
        <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
          <h4 class="nsw-text--brand-supplementary">Submit your own</h4>
          <p>This library is open to all NSW Government design systems.</p>
          <p>
            <a class="nsw-link nsw-link--icon" href="#" target="_blank">
              <span>Submit a design system</span>
              <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
            </a>
          </p>
        </div>
      </div>
    </div>
  </section>
