---
layout: default.hbs
---
<section class="nsw-section nsw-section--off-white nsw-p-top-lg nsw-p-bottom-lg">
  <div class="nsw-container">
    <h2>Activities and Templates</h2>
    <div class="nsw-grid">
      <div class="nsw-col nsw-show-lg nsw-col-lg-1">
        <svg fill="none" height="46" viewBox="0 0 64 46" width="64" xmlns="http://www.w3.org/2000/svg" class=" nsw-m-top-sm">
          <path clip-rule="evenodd" d="M43.63 2.323A.975.975 0 0042.922 2a.973.973 0 00-.715.308L32.434 12.59 22.662 2.308a.963.963 0 00-1.41 0l-18.96 19.95a1.09 1.09 0 000 1.484l18.96 19.95a.963.963 0 001.41 0L32.94 32.878l-.898 1.032 10.196 9.815a.963.963 0 001.398-.053l18.09-20.086a1.09 1.09 0 00-.004-1.45L43.63 2.323zM33.412 32.382l9.45 9.097 16.762-18.61-16.726-18.32-9.052 9.526 3.785 3.983c.39.41.39 1.074 0 1.484a.963.963 0 01-1.411 0L21.957 4.535 4.409 23l17.548 18.465 14.262-15.008a.963.963 0 011.41 0c.39.41.39 1.075 0 1.485l-4.218 4.44z" fill="#333" fill-rule="evenodd"></path>
          <path clip-rule="evenodd" d="M42.619 17.008a.963.963 0 00-1.411 0 1.09 1.09 0 000 1.484l3.286 3.458H21.957c-.551 0-.998.47-.998 1.05 0 .58.447 1.05.998 1.05h22.537l-3.286 3.457a1.09 1.09 0 000 1.485.963.963 0 001.411 0l4.99-5.25a1.09 1.09 0 000-1.485l-4.99-5.25z" fill="#0085B3" fill-rule="evenodd"></path>
        </svg>
      </div>
      <div class="nsw-col nsw-col-12 nsw-col-lg-5">
        <p class="nsw-intro nsw-m-top-xs">Do research that delivers, with ready-to-use activities and templates from a community of NSW Government's leading researchers &amp; designers.</p>
      </div>
      <div class="nsw-col nsw-col-12 nsw-col-lg-6">
        <ul class="nsw-icon-list">
          <li><i aria-hidden="true" class="material-icons nsw-material-icons nsw-material-icons--success" focusable="false">done</i> <span>Easy to follow with step-by-step instructions and examples</span></li>
      	  <li><i aria-hidden="true" class="material-icons nsw-material-icons nsw-material-icons--success" focusable="false">done</i> <span>Proven to deliver and drive government projects forward</span></li>
      	  <li><i aria-hidden="true" class="material-icons nsw-material-icons nsw-material-icons--success" focusable="false">done</i> <span>Adaptable to different contexts or industries</span></li>
      	  <li><i aria-hidden="true" class="material-icons nsw-material-icons nsw-material-icons--success" focusable="false">done</i> <span>Know how to progress with next steps and output templates</span></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<div class="nsw-container nsw-p-y-md">
  <div class="nsw-grid nsw-grid--centered">
    <div class="nsw-col nsw-col-lg-7">
      <div class="nsw-tag nsw-tag--featured">
        Featured
      </div>
      <h3><a href="https://www.digital.nsw.gov.au/delivery/digital-service-toolkit/activities-and-templates/generating-research-questions">Generating research questions</a></h3>
      <p><strong><small>Activity by Digital Service team, Department of Customer Service</small></strong></p>
      <ul class="nsw-icon-list nsw-icon-list--inline nsw-icon-list--spaced"><li><i aria-hidden="true" class="material-icons nsw-material-icons" focusable="false">watch_later</i> <span> <small>Time</small><br><strong>½ day </strong> </span></li>
      	<li><i aria-hidden="true" class="material-icons nsw-material-icons" focusable="false">person</i> <span> <small>Casting</small><br><strong>2+ team members</strong> </span></li>
      	<li><i aria-hidden="true" class="material-icons nsw-material-icons" focusable="false">home_repair_service</i> <span> <small>Tool</small><br><strong>Miro</strong> </span></li>
      </ul>
      <p>Use this activity to generate meaningful interview questions, based on the assumptions that your project relies on for success.</p>
      <ul class="nsw-icon-list nsw-icon-list--inline"><li><i aria-hidden="true" class="material-icons nsw-material-icons nsw-material-icons--success" focusable="false">done</i> <span>Instructions</span></li>
      	<li><i aria-hidden="true" class="material-icons nsw-material-icons nsw-material-icons--success" focusable="false">done</i> <span>Examples</span></li>
      	<li><i aria-hidden="true" class="material-icons nsw-material-icons nsw-material-icons--success" focusable="false">done</i> <span>Pro Tips</span></li>
      </ul>
    </div>
    <div class="nsw-col nsw-col-lg-5">
      <p><img alt="Generating research questions Miro template" class="nsw-image" src="https://digital.nsw.gov.au/sites/default/files/styles/activity_image/public/2021-06/miro-generating-research-questions.png?itok=gCdhr4Sv"></p>
    </div>
  </div>
</div>
<hr>
<div class="nsw-container nsw-p-top-md">
  <section class="layout nsw-section--white">
      <div class="clearfix block block-views block-views-blockactivities-and-templates-activites-templates">

          <h2 class="title nsw-section-title">Planning research</h2>

          <div class="content">
        <div class="views-element-container"><div class="view view-activities-and-templates view-id-activities_and_templates view-display-id-activites_templates js-view-dom-id-d7e8c01d8867c588493dd9bce137d954f96ae01a63733198e7b667c9a0c00354 blog-grid">



      <div class="nsw-grid">
          <div class="nsw-col nsw-col-md-6 nsw-col-lg-4 views-row">
<div class="nsw-card nsw-card--at nsw-card--document">
  <div class="nsw-card__content">
    <div class="nsw-card__tags"><span>Document</span></div>
    <div class="nsw-card__title">
      <a class="nsw-card__link" href="https://digital.nsw.gov.au/delivery/digital-service-toolkit/activities-and-templates/research-plan">
        Research plan
      </a>
    </div>
    <p class="nsw-card__author">Digital Service team</p>



            <ul class="nsw-icon-list nsw-icon-list--small">
                  <li>
            <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">watch_later</i>
            <span>
                    <div class="field field--name-field-at-time field--type-string field--label-hidden field__item">60+ mins  </div>
            </span>
          </li>
                                          <li>
            <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">person</i>
            <span>
                    <div class="field field--name-field-at-casting field--type-string field--label-hidden field__item">2+ team members</div>
            </span>
          </li>
                          <li>
            <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">home_repair_service</i>
            <span>
                    <div class="field field--name-field-at-tool field--type-string field--label-hidden field__item">Word</div>
            </span>
          </li>
              </ul>

    <i class="material-icons nsw-material-icons nsw-card__icon" focusable="false" aria-hidden="true">east</i>
  </div>
</div>
</div>
    <div class="nsw-col nsw-col-md-6 nsw-col-lg-4 views-row">
<div class="nsw-card nsw-card--at nsw-card--activity">
  <div class="nsw-card__content">
    <div class="nsw-card__tags"><span>Activity</span></div>
    <div class="nsw-card__title">
      <a class="nsw-card__link" href="https://digital.nsw.gov.au/delivery/digital-service-toolkit/activities-and-templates/map-actions-to-impact">
        Map actions to impact
      </a>
    </div>
    <p class="nsw-card__author">Digital Enterprise Architect Team </p>



            <ul class="nsw-icon-list nsw-icon-list--small">
                  <li>
            <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">watch_later</i>
            <span>
                    <div class="field field--name-field-at-time field--type-string field--label-hidden field__item">1 day</div>
            </span>
          </li>
                                          <li>
            <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">person</i>
            <span>
                    <div class="field field--name-field-at-casting field--type-string field--label-hidden field__item">Project team and stakeholders</div>
            </span>
          </li>
                          <li>
            <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">home_repair_service</i>
            <span>
                    <div class="field field--name-field-at-tool field--type-string field--label-hidden field__item">Miro</div>
            </span>
          </li>
              </ul>

    <i class="material-icons nsw-material-icons nsw-card__icon" focusable="false" aria-hidden="true">east</i>
  </div>
</div>
</div>
    <div class="nsw-col nsw-col-md-6 nsw-col-lg-4 views-row">
<div class="nsw-card nsw-card--at nsw-card--activity">
  <div class="nsw-card__content">
    <div class="nsw-card__tags"><span>Activity</span></div>
    <div class="nsw-card__title">
      <a class="nsw-card__link" href="https://digital.nsw.gov.au/delivery/digital-service-toolkit/activities-and-templates/research-kick-off">
        Research kick-off
      </a>
    </div>
    <p class="nsw-card__author">Digital Service team</p>



            <ul class="nsw-icon-list nsw-icon-list--small">
                  <li>
            <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">watch_later</i>
            <span>
                    <div class="field field--name-field-at-time field--type-string field--label-hidden field__item">1-2 hours </div>
            </span>
          </li>
                                          <li>
            <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">person</i>
            <span>
                    <div class="field field--name-field-at-casting field--type-string field--label-hidden field__item">Project team + stakeholders</div>
            </span>
          </li>
                          <li>
            <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">home_repair_service</i>
            <span>
                    <div class="field field--name-field-at-tool field--type-string field--label-hidden field__item">Miro</div>
            </span>
          </li>
              </ul>

    <i class="material-icons nsw-material-icons nsw-card__icon" focusable="false" aria-hidden="true">east</i>
  </div>
</div>
</div>
    <div class="nsw-col nsw-col-md-6 nsw-col-lg-4 views-row">
<div class="nsw-card nsw-card--at nsw-card--activity">
  <div class="nsw-card__content">
    <div class="nsw-card__tags"><span>Activity</span></div>
    <div class="nsw-card__title">
      <a class="nsw-card__link" href="https://digital.nsw.gov.au/delivery/digital-service-toolkit/activities-and-templates/pre-mortem-risk-planning">
        Pre-mortem – risk planning
      </a>
    </div>
    <p class="nsw-card__author">Customer Experience Unit</p>



            <ul class="nsw-icon-list nsw-icon-list--small">
                  <li>
            <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">watch_later</i>
            <span>
                    <div class="field field--name-field-at-time field--type-string field--label-hidden field__item">1 hour </div>
            </span>
          </li>
                                          <li>
            <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">person</i>
            <span>
                    <div class="field field--name-field-at-casting field--type-string field--label-hidden field__item">5-10 team members</div>
            </span>
          </li>
                          <li>
            <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">home_repair_service</i>
            <span>
                    <div class="field field--name-field-at-tool field--type-string field--label-hidden field__item">Miro</div>
            </span>
          </li>
              </ul>

    <i class="material-icons nsw-material-icons nsw-card__icon" focusable="false" aria-hidden="true">east</i>
  </div>
</div>
</div>
    <div class="nsw-col nsw-col-md-6 nsw-col-lg-4 views-row">
<div class="nsw-card nsw-card--at nsw-card--activity">
  <div class="nsw-card__content">
    <div class="nsw-card__tags"><span>Activity</span></div>
    <div class="nsw-card__title">
      <a class="nsw-card__link" href="https://digital.nsw.gov.au/delivery/digital-service-toolkit/activities-and-templates/generating-research-questions">
        Generating research questions
      </a>
    </div>
    <p class="nsw-card__author">Digital Service team</p>



            <ul class="nsw-icon-list nsw-icon-list--small">
                  <li>
            <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">watch_later</i>
            <span>
                    <div class="field field--name-field-at-time field--type-string field--label-hidden field__item">½ day </div>
            </span>
          </li>
                                          <li>
            <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">person</i>
            <span>
                    <div class="field field--name-field-at-casting field--type-string field--label-hidden field__item">2+ team members </div>
            </span>
          </li>
                          <li>
            <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">home_repair_service</i>
            <span>
                    <div class="field field--name-field-at-tool field--type-string field--label-hidden field__item">Miro</div>
            </span>
          </li>
              </ul>

    <i class="material-icons nsw-material-icons nsw-card__icon" focusable="false" aria-hidden="true">east</i>
  </div>
</div>
</div>
    <div class="nsw-col nsw-col-md-6 nsw-col-lg-4 views-row">
<div class="nsw-card nsw-card--at nsw-card--document">
  <div class="nsw-card__content">
    <div class="nsw-card__tags"><span>Document</span></div>
    <div class="nsw-card__title">
      <a class="nsw-card__link" href="https://digital.nsw.gov.au/delivery/digital-service-toolkit/activities-and-templates/user-research-communications">
        User research communications
      </a>
    </div>
    <p class="nsw-card__author">Transformation team</p>



            <ul class="nsw-icon-list nsw-icon-list--small">
                  <li>
            <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">watch_later</i>
            <span>
                    <div class="field field--name-field-at-time field--type-string field--label-hidden field__item">15+ mins</div>
            </span>
          </li>
                                          <li>
            <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">person</i>
            <span>
                    <div class="field field--name-field-at-casting field--type-string field--label-hidden field__item">1+ team members</div>
            </span>
          </li>
                          <li>
            <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">home_repair_service</i>
            <span>
                    <div class="field field--name-field-at-tool field--type-string field--label-hidden field__item">Word</div>
            </span>
          </li>
              </ul>

    <i class="material-icons nsw-material-icons nsw-card__icon" focusable="false" aria-hidden="true">east</i>
  </div>
</div>
</div>

    </div>

          </div>
</div>

      </div>
      </div>
<div class="clearfix block block-block-content block-block-content95534aff-4302-4e26-a22e-1188a994afa6 block-horizontal-line-separator">


      <div class="content">

                    <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item"><div class="nsw-research">
<hr class="nsw-section-separator"></div>
</div>

    </div>
  </div>
  <div class="clearfix block block-views block-views-blockactivities-and-templates-block-1">

          <h2 class="title nsw-section-title">Doing research</h2>

          <div class="content">
        <div class="views-element-container"><div class="view view-activities-and-templates view-id-activities_and_templates view-display-id-block_1 js-view-dom-id-27f622a793c343a95b5e6cae3c4903f4e05eac1a324d78db44ce4b280de64eb7 blog-grid">



      <div class="nsw-grid">
          <div class="nsw-col nsw-col-md-6 nsw-col-lg-4 views-row">
<div class="nsw-card nsw-card--at nsw-card--document">
  <div class="nsw-card__content">
    <div class="nsw-card__tags"><span>Document</span></div>
    <div class="nsw-card__title">
      <a class="nsw-card__link" href="https://digital.nsw.gov.au/delivery/digital-service-toolkit/activities-and-templates/obtaining-consent">
        Obtaining consent
      </a>
    </div>
    <p class="nsw-card__author">Behavioural Insights Unit</p>



            <ul class="nsw-icon-list nsw-icon-list--small">
                  <li>
            <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">watch_later</i>
            <span>
                    <div class="field field--name-field-at-time field--type-string field--label-hidden field__item">15+ mins</div>
            </span>
          </li>
                                          <li>
            <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">person</i>
            <span>
                    <div class="field field--name-field-at-casting field--type-string field--label-hidden field__item">1+ team members</div>
            </span>
          </li>
                          <li>
            <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">home_repair_service</i>
            <span>
                    <div class="field field--name-field-at-tool field--type-string field--label-hidden field__item">Word</div>
            </span>
          </li>
              </ul>

    <i class="material-icons nsw-material-icons nsw-card__icon" focusable="false" aria-hidden="true">east</i>
  </div>
</div>
</div>
    <div class="nsw-col nsw-col-md-6 nsw-col-lg-4 views-row">
<div class="nsw-card nsw-card--at nsw-card--activity">
  <div class="nsw-card__content">
    <div class="nsw-card__tags"><span>Activity</span></div>
    <div class="nsw-card__title">
      <a class="nsw-card__link" href="https://digital.nsw.gov.au/delivery/digital-service-toolkit/activities-and-templates/synthesising-research-interviews">
        Synthesising research interviews
      </a>
    </div>
    <p class="nsw-card__author">CXU team</p>



            <ul class="nsw-icon-list nsw-icon-list--small">
                  <li>
            <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">watch_later</i>
            <span>
                    <div class="field field--name-field-at-time field--type-string field--label-hidden field__item">1/2+ day</div>
            </span>
          </li>
                                          <li>
            <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">person</i>
            <span>
                    <div class="field field--name-field-at-casting field--type-string field--label-hidden field__item">Research team</div>
            </span>
          </li>
                          <li>
            <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">home_repair_service</i>
            <span>
                    <div class="field field--name-field-at-tool field--type-string field--label-hidden field__item">Miro</div>
            </span>
          </li>
              </ul>

    <i class="material-icons nsw-material-icons nsw-card__icon" focusable="false" aria-hidden="true">east</i>
  </div>
</div>
</div>
    <div class="nsw-col nsw-col-md-6 nsw-col-lg-4 views-row">
<div class="nsw-card nsw-card--at nsw-card--document">
  <div class="nsw-card__content">
    <div class="nsw-card__tags"><span>Document</span></div>
    <div class="nsw-card__title">
      <a class="nsw-card__link" href="https://digital.nsw.gov.au/delivery/digital-service-toolkit/activities-and-templates/discussion-guide-template">
        Discussion guide template
      </a>
    </div>
    <p class="nsw-card__author">OneCX team</p>



            <ul class="nsw-icon-list nsw-icon-list--small">
                  <li>
            <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">watch_later</i>
            <span>
                    <div class="field field--name-field-at-time field--type-string field--label-hidden field__item">30+ mins</div>
            </span>
          </li>
                                          <li>
            <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">person</i>
            <span>
                    <div class="field field--name-field-at-casting field--type-string field--label-hidden field__item">1+ team members</div>
            </span>
          </li>
                          <li>
            <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">home_repair_service</i>
            <span>
                    <div class="field field--name-field-at-tool field--type-string field--label-hidden field__item">Word</div>
            </span>
          </li>
              </ul>

    <i class="material-icons nsw-material-icons nsw-card__icon" focusable="false" aria-hidden="true">east</i>
  </div>
</div>
</div>
    <div class="nsw-col nsw-col-md-6 nsw-col-lg-4 views-row">
<div class="nsw-card nsw-card--at nsw-card--activity">
  <div class="nsw-card__content">
    <div class="nsw-card__tags"><span>Activity</span></div>
    <div class="nsw-card__title">
      <a class="nsw-card__link" href="https://digital.nsw.gov.au/delivery/digital-service-toolkit/activities-and-templates/turning-findings-into-insights-you-can-action">
        Turning findings into insights you can action
      </a>
    </div>
    <p class="nsw-card__author">Digital Service team</p>



            <ul class="nsw-icon-list nsw-icon-list--small">
                  <li>
            <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">watch_later</i>
            <span>
                    <div class="field field--name-field-at-time field--type-string field--label-hidden field__item">1 day</div>
            </span>
          </li>
                                          <li>
            <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">person</i>
            <span>
                    <div class="field field--name-field-at-casting field--type-string field--label-hidden field__item">2+ team members</div>
            </span>
          </li>
                          <li>
            <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">home_repair_service</i>
            <span>
                    <div class="field field--name-field-at-tool field--type-string field--label-hidden field__item">Miro</div>
            </span>
          </li>
              </ul>

    <i class="material-icons nsw-material-icons nsw-card__icon" focusable="false" aria-hidden="true">east</i>
  </div>
</div>
</div>
    <div class="nsw-col nsw-col-md-6 nsw-col-lg-4 views-row">
<div class="nsw-card nsw-card--at nsw-card--presentation">
  <div class="nsw-card__content">
    <div class="nsw-card__tags"><span>Presentation</span></div>
    <div class="nsw-card__title">
      <a class="nsw-card__link" href="https://digital.nsw.gov.au/delivery/digital-service-toolkit/activities-and-templates/project-update">
        Project update
      </a>
    </div>
    <p class="nsw-card__author">Digital Service team</p>



            <ul class="nsw-icon-list nsw-icon-list--small">
                          <li>
            <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">edit</i>
            <span>¼ day (prep time)</span>
          </li>
                          <li>
            <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">watch_later</i>
            <span>
                    <div class="field field--name-field-at-pres-time field--type-string field--label-hidden field__item">30-45 mins</div>
            </span>
          </li>
                          <li>
            <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">person</i>
            <span>
                    <div class="field field--name-field-at-casting field--type-string field--label-hidden field__item">1+ team members</div>
            </span>
          </li>
                          <li>
            <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">home_repair_service</i>
            <span>
                    <div class="field field--name-field-at-tool field--type-string field--label-hidden field__item">PowerPoint</div>
            </span>
          </li>
              </ul>

    <i class="material-icons nsw-material-icons nsw-card__icon" focusable="false" aria-hidden="true">east</i>
  </div>
</div>
</div>

    </div>

          </div>
</div>

      </div>
      </div>
<div class="clearfix block block-block-content block-block-content95534aff-4302-4e26-a22e-1188a994afa6 block-horizontal-line-separator">


      <div class="content">

                    <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item"><div class="nsw-research">
<hr class="nsw-section-separator"></div>
</div>

    </div>
  </div>
  <div class="clearfix block block-views block-views-blockactivities-and-templates-block-2">

          <h2 class="title nsw-section-title">Using research</h2>

          <div class="content">
        <div class="views-element-container"><div class="view view-activities-and-templates view-id-activities_and_templates view-display-id-block_2 js-view-dom-id-f3904053337e2e672544318a238d57e58d42bd3618305a15e73bbd099589c7b9 blog-grid">



      <div class="nsw-grid">
          <div class="nsw-col nsw-col-md-6 nsw-col-lg-4 views-row">
<div class="nsw-card nsw-card--at nsw-card--activity">
  <div class="nsw-card__content">
    <div class="nsw-card__tags"><span>Activity</span></div>
    <div class="nsw-card__title">
      <a class="nsw-card__link" href="https://digital.nsw.gov.au/delivery/digital-service-toolkit/activities-and-templates/prioritise-customer-opportunities">
        Prioritise customer opportunities
      </a>
    </div>
    <p class="nsw-card__author">Digital Service team</p>



            <ul class="nsw-icon-list nsw-icon-list--small">
                  <li>
            <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">watch_later</i>
            <span>
                    <div class="field field--name-field-at-time field--type-string field--label-hidden field__item">4+ hours</div>
            </span>
          </li>
                                          <li>
            <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">person</i>
            <span>
                    <div class="field field--name-field-at-casting field--type-string field--label-hidden field__item">2+ team members and decision makers</div>
            </span>
          </li>
                          <li>
            <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">home_repair_service</i>
            <span>
                    <div class="field field--name-field-at-tool field--type-string field--label-hidden field__item">Miro</div>
            </span>
          </li>
              </ul>

    <i class="material-icons nsw-material-icons nsw-card__icon" focusable="false" aria-hidden="true">east</i>
  </div>
</div>
</div>
    <div class="nsw-col nsw-col-md-6 nsw-col-lg-4 views-row">
<div class="nsw-card nsw-card--at nsw-card--presentation">
  <div class="nsw-card__content">
    <div class="nsw-card__tags"><span>Presentation</span></div>
    <div class="nsw-card__title">
      <a class="nsw-card__link" href="https://digital.nsw.gov.au/delivery/digital-service-toolkit/activities-and-templates/showcase-template">
        Showcase template
      </a>
    </div>
    <p class="nsw-card__author">OneCX team</p>



            <ul class="nsw-icon-list nsw-icon-list--small">
                          <li>
            <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">edit</i>
            <span>60+ mins (prep time)</span>
          </li>
                          <li>
            <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">watch_later</i>
            <span>
                    <div class="field field--name-field-at-pres-time field--type-string field--label-hidden field__item">60 mins</div>
            </span>
          </li>
                          <li>
            <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">person</i>
            <span>
                    <div class="field field--name-field-at-casting field--type-string field--label-hidden field__item">1+ team members</div>
            </span>
          </li>
                          <li>
            <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">home_repair_service</i>
            <span>
                    <div class="field field--name-field-at-tool field--type-string field--label-hidden field__item">PowerPoint&nbsp;</div>
            </span>
          </li>
              </ul>

    <i class="material-icons nsw-material-icons nsw-card__icon" focusable="false" aria-hidden="true">east</i>
  </div>
</div>
</div>

    </div>

          </div>
</div>

      </div>
      </div>

</section>
</div>
<section class="nsw-section nsw-section--off-white nsw-p-x-lg nsw-m-top-lg">
  <div class="nsw-container">
    <div class="nsw-grid">
      <div class="nsw-col nsw-show-lg nsw-col-lg-1">
        <svg fill="none" height="64" viewBox="0 0 64 64" width="64" xmlns="http://www.w3.org/2000/svg"><path clip-rule="evenodd" d="M32 13.454c-8.045 0-14.546 6.479-14.546 14.444 0 2.297.783 4.06 2.061 5.937.596.875 1.274 1.738 2.033 2.705l.241.309c.842 1.073 1.756 2.255 2.632 3.587.65.988 1.023 2.15 1.269 3.199.24 1.025.392 2.097.521 3.005l.014.096c.141.991.25 1.713.395 2.22.528.088 1.275.15 2.165.181.933.033 1.872.03 2.659.028l.556-.001h.556c.787.003 1.726.006 2.66-.027.892-.031 1.64-.093 2.168-.182v-.001c.147-.505.258-1.226.4-2.215l.018-.121c.129-.9.281-1.96.517-2.974.244-1.048.612-2.206 1.25-3.195.875-1.353 1.79-2.546 2.633-3.627l.343-.438c.72-.92 1.365-1.743 1.937-2.58 1.281-1.87 2.063-3.613 2.063-5.906 0-7.965-6.5-14.444-14.545-14.444zm12.115 24.169c2.376-3.034 4.43-5.658 4.43-9.724 0-9.082-7.407-16.445-16.545-16.445-9.138 0-16.546 7.363-16.546 16.444 0 4.119 2.1 6.794 4.516 9.871.914 1.165 1.873 2.386 2.78 3.766.912 1.385 1.218 3.537 1.486 5.417.273 1.924.507 3.564 1.307 3.808 1.383.42 4.158.41 5.924.405l.533-.001h.533c1.766.007 4.541.015 5.924-.404.804-.245 1.042-1.896 1.32-3.831.27-1.872.577-4.009 1.472-5.394.934-1.445 1.925-2.71 2.866-3.912zM24.858 52.978a1 1 0 011.073-.92l5.762.443c.204.015.41.015.614 0l5.762-.444a1 1 0 11.153 1.995l-5.762.443a5.991 5.991 0 01-.92 0l-5.762-.443a1 1 0 01-.92-1.074zM25.804 56.746a1 1 0 011.087-.906l4.747.432c.24.022.483.022.724 0l4.747-.431a1 1 0 11.181 1.991l-4.747.432a5.991 5.991 0 01-1.086 0l-4.748-.432a1 1 0 01-.905-1.086zM26.752 60.508a1 1 0 011.104-.884l3.702.412c.294.032.59.032.884 0l3.702-.412a1 1 0 11.221 1.988l-3.702.411c-.44.05-.885.05-1.326 0l-3.702-.41a1 1 0 01-.883-1.105z" fill="#333" fill-rule="evenodd"></path><path clip-rule="evenodd" d="M31.473 9.564a1 1 0 01-1-1V3a1 1 0 112 0v5.564a1 1 0 01-1 1zM58 26.636a1 1 0 01-1 1h-5.564a1 1 0 010-2H57a1 1 0 011 1zM13.564 26.636a1 1 0 01-1 1H7a1 1 0 010-2h5.564a1 1 0 011 1zM14.27 7.911a1 1 0 011.415 0l3.934 3.934a1 1 0 11-1.414 1.414L14.27 9.325a1 1 0 010-1.414zM44.056 13.651a1 1 0 010-1.414l3.935-3.934a1 1 0 111.414 1.414L45.47 13.65a1 1 0 01-1.414 0zM45.47 39.111a1 1 0 011.415 0l3.934 3.934a1 1 0 11-1.414 1.414l-3.934-3.934a1 1 0 010-1.414zM12.857 44.46a1 1 0 010-1.415l3.934-3.934a1 1 0 011.414 1.414L14.27 44.46a1 1 0 01-1.415 0z" fill="#0085B3" fill-rule="evenodd"></path><path clip-rule="evenodd" d="M31.565 17.888a1 1 0 01-.799 1.168c-2.724.51-4.562 2.026-5.773 3.741-1.225 1.737-1.787 3.655-1.927 4.847a1 1 0 11-1.986-.234c.175-1.486.842-3.728 2.28-5.766 1.452-2.058 3.71-3.93 7.038-4.554a1 1 0 011.167.798z" fill="#333" fill-rule="evenodd"></path></svg>
      </div>
      <div class="nsw-col nsw-col-lg-8">
        <h2>Help us grow the collection</h2>
        <p>Do you have a template to share or a challenge to solve?</p>
        <p>You can suggest or request activities and templates with our <a href="https://forms.office.com/Pages/ResponsePage.aspx?id=aHr5Hqvo7UShbbV5_i182B5JSpTHM3VHibVCBTLd5CNURVdQNzRNUEtCU1RKT1pZRk5HV09WSFBQRCQlQCN0PWcu" target="_blank" rel="noopener">community contribution form</a>.</p>
      </div>
    </div>
  </div>
</section>
