---
layout: default.hbs
---
<section class="nsw-section nsw-section--off-white nsw-p-top-lg nsw-p-bottom-lg">
  <div class="nsw-container">
    <h2>NSW Digital Standards</h2>
    <p class="nsw-intro nsw-intro--partial">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tristique lorem leo, tincidunt semper dolor iaculis ac. Morbi sed erat sollicitudin, feugiat eros sed, vulputate erat. Suspendisse eget suscipit sapien.
    </p>
    <p class="nsw-intro nsw-intro--partial">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tristique lorem leo, tincidunt semper dolor iaculis ac.
    </p>
  </div>
</section>
<div class="nsw-container">
  {{>standards-list
    number="1"
    title="Deliver outcomes for customers, not solutions for Government"
    copy="Use research to validate the problem facing customers, and change the desired outcome if the evidence points that way. Work across agencies, platforms and channels to design a complete user experience."
    link="#"
  }}
  {{>standards-list
    number="2"
    title="Make secure services that protect customers privacy​"
    copy="You must create secure government services that meet legal obligations to protect the privacy of personal information that is collected, stored and used.​"
    link="#"
  }}
  {{>standards-list
    number="3"
    title="Choose the right tech and tools​"
    copy="Use modern technical architectures and understand what platforms suit your outcome best.​"
    link="#"
  }}
  {{>standards-list
    number="4"
    title="Have a multidisciplinary team​"
    copy="Foster an agile culture that focuses on quality, assurance and collaboration.​"
    link="#"
  }}
  {{>standards-list
    number="5"
    title="Make it for everyone​"
    copy="Include different user types in your research and in the development and improvement of the service.​"
    link="#"
  }}
  {{>standards-list
    number="6"
    title="Iterate and improve throughout the lifetime of the service​"
    copy="Adopt a culture of continuous improvement. ​Research throughout the lifetime of the service with the people who use it. Change and improve it accordingly. ​"
    link="#"
  }}
  {{>standards-list
    number="7"
    title="Use common systems and platforms, build for reuse​"
    copy="You look to reuse where you can and leave things better than when you found them.​ You build for reuse by looking at existing capability, process, data, services, platforms and domains.​"
    link="#"
  }}
  {{>standards-list
    number="8"
    title="Build in the open​"
    copy="Enable clear decision-making authority and accountability throughout your project.​ Iterate transparently so others can learn and build on your work."
    link="#"
  }}
  {{>standards-list
    number="9"
    title="Work in an agile way​"
    copy="Work in an agile and iterative way to build your service. ​Make sure it meets user needs before it is developed in full.  ​"
    link="#"
  }}
</div>
