---
layout: default.hbs
---
    <section class="nsw-section nsw-section--off-white nsw-p-top-lg nsw-p-bottom-lg">
      <div class="nsw-container">
        <h2>NSW Digital Standards</h2>
      	<p class="nsw-intro">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tristique lorem leo, tincidunt semper dolor iaculis ac. Morbi sed erat sollicitudin, feugiat eros sed, vulputate erat. Suspendisse eget suscipit sapien.
        </p>
      </div>

        <div class="nsw-container nsw-p-top-lg">
        <div class="nsw-grid">
          <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
            <div class="nsw-card nsw-card--headline nsw-card--white">
              <div class="nsw-card__content">
                <div class="nsw-card__title">
                  <a href="/nsw-design-system">Deliver outcomes for customers, not solutions for Government</a>
                </div>
                <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
              </div>
            </div>
          </div>
          <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
            <div class="nsw-card nsw-card--headline nsw-card--white">
              <div class="nsw-card__content">
                <div class="nsw-card__title">
                  <a href="/nsw-design-system">Make secure services that protect customers privacy​</a>
                </div>
                <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
              </div>
            </div>
          </div>
          <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
            <div class="nsw-card nsw-card--headline nsw-card--white">
              <div class="nsw-card__content">
                <div class="nsw-card__title">
                  <a href="/nsw-design-system">Choose the right tech and tools​</a>
                </div>
                <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
              </div>
            </div>
          </div>
          <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
            <div class="nsw-card nsw-card--headline nsw-card--white">
              <div class="nsw-card__content">
                <div class="nsw-card__title">
                  <a href="/nsw-design-system">Have a multidisciplinary team​</a>
                </div>
                <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
              </div>
            </div>
          </div>
          <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
            <div class="nsw-card nsw-card--headline nsw-card--white">
              <div class="nsw-card__content">
                <div class="nsw-card__title">
                  <a href="/nsw-design-system">Make it for everyone​​</a>
                </div>
                <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
              </div>
            </div>
          </div>
          <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
            <div class="nsw-card nsw-card--headline nsw-card--white">
              <div class="nsw-card__content">
                <div class="nsw-card__title">
                  <a href="/nsw-design-system">Iterate and improve throughout the lifetime of the service</a>
                </div>
                <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
              </div>
            </div>
          </div>
          <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
            <div class="nsw-card nsw-card--headline nsw-card--white">
              <div class="nsw-card__content">
                <div class="nsw-card__title">
                  <a href="/nsw-design-system">Use common systems and platforms, build for reuse​</a>
                </div>
                <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
              </div>
            </div>
          </div>
          <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
            <div class="nsw-card nsw-card--headline nsw-card--white">
              <div class="nsw-card__content">
                <div class="nsw-card__title">
                  <a href="/nsw-design-system">Build in the open​​​</a>
                </div>
                <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
              </div>
            </div>
          </div>
          <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
            <div class="nsw-card nsw-card--headline nsw-card--white">
              <div class="nsw-card__content">
                <div class="nsw-card__title">
                  <a href="/nsw-design-system">Work in an agile way​</a>
                </div>
                <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
