---
layout: default.hbs
---
<section class="nsw-section nsw-section--off-white nsw-p-top-lg nsw-p-bottom-lg">
  <div class="nsw-container">
    <h2>NSW Digital Standards</h2>
    <p class="nsw-intro nsw-intro--partial">
      The Design Standards are best-practice principles for designing and delivering government services.
    </p>
  </div>
</section>
<div class="nsw-container nsw-p-top-md">

  <p class="nsw-intro--partial">The standards assure all teams build services to the same quality, any mandates and policy requirements are considered, and customer-focused ways of working are endorsed and promoted from the top down. Standards protect the people who use services by ensuring the service delivers as claimed, performs as specified, and is reliable, effective, and safe.</p>
  <p class="nsw-intro--partial">The standards are intended to be used as a tool to help evaluate current practice, to encourage best practices and avoid known bad practice in NSW government.</p>
  <hr class="nsw-m-top-lg">

  <div class="nsw-p-y-sm nsw-m-y-sm">
    <div class="nsw-grid">
      <div class="nsw-col nsw-col nsw-col-lg-5">
        <div class="nsw-p-md nsw-section--brand-light nsw-border--brand-light nsw-p-bottom-md nsw-m-top-sm" >
          <h3 class="nsw-h2">Deliver outcomes for customers, not solutions for Government</h3>
          <p class="">Use research to validate the problem facing customers, and change the desired outcome if the evidence points that way. Work across agencies, platforms and channels to design a complete user experience.​</p>
        </div>
      </div>
      <div class="nsw-col  nsw-col nsw-col-lg-7 nsw-p-left-lg">
        <p class="nsw-intro"><strong>What it means</strong></p>
        <ul>
          <li>research to understand the unique challenges your users face and the problems they’re trying to solve at every stage of the service, including once it is live​</li>
          <li>use different types of research to suit the current delivery stage​</li>
          <li>use evidence to continuously interrogate and validate assumptions, including predefined solutions​</li>
          <li>iterate and improve, or change a course of action, when the evidence points that way​</li>
          <li>define what success looks like and establish how it will be measured.​</li>
        </ul>
      </div>
    </div>
  </div>
  <hr>

  <div class="nsw-p-y-sm nsw-m-y-sm">
    <div class="nsw-grid">
      <div class="nsw-col nsw-col nsw-col-lg-5">
        <div class="nsw-p-md nsw-section--brand-light nsw-border--brand-light nsw-p-bottom-md nsw-m-top-sm" >
          <h3 class="nsw-h2">Make secure services that protect customers privacy</h3>
          <p>You must create secure government services that meet legal obligations to protect the privacy of personal information that is collected, stored and used.​</p>
        </div>
      </div>
      <div class="nsw-col  nsw-col nsw-col-lg-7 nsw-p-left-lg">
        <p class="nsw-intro"><strong>What it means</strong></p>
        <ul>
          <li>show evidence of privacy and security by design​​</li>
          <li>use a privacy impact assessment to identify the risk of any breach of the Protection Principles and the Health Privacy Principles​​</li>
          <li>manage all personal information in accordance with NSW Privacy laws​​</li>
          <li>demonstrate an understanding of your legal obligations when obtaining an individual’s consent for the use of their personal information​​</li>
          <li>store de-identified data separate from other personal information and apply appropriate levels of restriction to that storage.​​</li>
        </ul>
      </div>
    </div>
  </div>
  <hr>

  <div class="nsw-p-y-sm nsw-m-y-sm">
    <div class="nsw-grid">
      <div class="nsw-col nsw-col nsw-col-lg-5">
        <div class="nsw-p-md nsw-section--brand-light nsw-border--brand-light nsw-p-bottom-md nsw-m-top-sm" >
          <h3 class="nsw-h2">Choose the right tech and tools​</h3>
          <p>Use modern technical architectures and understand what platforms suit your outcome best.​</p>
        </div>
      </div>
      <div class="nsw-col  nsw-col nsw-col-lg-7 nsw-p-left-lg">
        <p class="nsw-intro"><strong>What it means</strong></p>
        <ul>
          <li>the correct technical expertise is embedded early in a project and throughout the delivery lifecycle​</li>
          <li>understand how to host, integrate, manage and operate a reliable service​</li>
          <li>utilise DevOps to support CICD​</li>
          <li>work with modern architectures and use API's to balance agility, resilience and performance​</li>
          <li>manage and mitigate any identified risks ​</li>
          <li>encourage open source and transparent service delivery to make it easier to change vendors​</li>
          <li>build internal capability to increase options for solution delivery​</li>
          <li>look for flexibility and variety of service vendors​</li>
          <li>choose platforms and solutions that best meet user need, not based on previous use. </li>
        </ul>
      </div>
    </div>
  </div>
  <hr>

  <div class="nsw-p-y-sm nsw-m-y-sm">
    <div class="nsw-grid">
      <div class="nsw-col nsw-col nsw-col-lg-5">
        <div class="nsw-p-md nsw-section--brand-light nsw-border--brand-light nsw-p-bottom-md nsw-m-top-sm" >
          <h3 class="nsw-h2">Have a multidisciplinary team​​</h3>
          <p>Foster an agile culture that focuses on quality, assurance and collaboration.​​</p>
        </div>
      </div>
      <div class="nsw-col  nsw-col nsw-col-lg-7 nsw-p-left-lg">
        <p class="nsw-intro"><strong>What it means</strong></p>
        <ul>
          <li>employ the right people at the right time​</li>
          <li>encourage a team with diverse skill sets ​</li>
          <li>ensure capability is transferred into government when using contractors and vendors​</li>
          <li>work together to agree on a purpose and set expectations​</li>
          <li>have a flat structure so that everyone can contribute at all times​</li>
          <li>a team is the smallest unit of delivery</li>
        </ul>
      </div>
    </div>
  </div>

  <hr>
  <div class="nsw-p-y-sm nsw-m-y-sm">
    <div class="nsw-grid">
      <div class="nsw-col nsw-col nsw-col-lg-5">
        <div class="nsw-p-md nsw-section--brand-light nsw-border--brand-light nsw-p-bottom-md nsw-m-top-sm" >
          <h3 class="nsw-h2">Make it for everyone​​​</h3>
          <p>Include different user types in your research and in the development and improvement of the service.​</p>
        </div>
      </div>
      <div class="nsw-col  nsw-col nsw-col-lg-7 nsw-p-left-lg">
        <p class="nsw-intro"><strong>What it means</strong></p>
        <ul>
          <li>research and test with diverse users from the outset​</li>
          <li>comply with level AA of WCAG’s current standard and test for compliance​</li>
          <li>test with assistive technologies​</li>
          <li>write in plain English​</li>
          <li>allow for alternatives to written English</li>
        </ul>
      </div>
    </div>
  </div>

  <hr>
  <div class="nsw-p-y-sm nsw-m-y-sm">
    <div class="nsw-grid">
      <div class="nsw-col nsw-col nsw-col-lg-5">
        <div class="nsw-p-md nsw-section--brand-light nsw-border--brand-light nsw-p-bottom-md nsw-m-top-sm" >
          <h3 class="nsw-h2">Iterate and improve throughout the lifetime of the service​</h3>
          <p>Adopt a culture of continuous improvement.</p>
          <p>Research throughout the lifetime of the service with the people who use it. Change and improve it accordingly. ​​</p>
        </div>
      </div>
      <div class="nsw-col  nsw-col nsw-col-lg-7 nsw-p-left-lg">
        <p class="nsw-intro"><strong>What it means</strong></p>
        <ul>
          <li>use evidence from your research and applied metrics to improve the service, even after go-live​</li>
          <li>respond to changes in user needs, technology or government policy so that the service stays relevant​</li>
          <li>plan to have the capacity to ensure the service remains relevant and effective until retirement​</li>
          <li>continue to use user research and design methods to improve the service.​</li>
        </ul>
      </div>
    </div>
  </div>
  <hr>
  <div class="nsw-p-y-sm nsw-m-y-sm">
    <div class="nsw-grid">
      <div class="nsw-col nsw-col nsw-col-lg-5">
        <div class="nsw-p-md nsw-section--brand-light nsw-border--brand-light nsw-p-bottom-md nsw-m-top-sm" >
          <h3 class="nsw-h2">Use common systems and platforms, build for reuse​​</h3>
          <p>You look to reuse where you can and leave things better than when you found them.​</p>
          <p>You build for reuse by looking at existing capability, process, data, services, platforms and domains.​​​</p>
        </div>
      </div>
      <div class="nsw-col  nsw-col nsw-col-lg-7 nsw-p-left-lg">
        <p class="nsw-intro"><strong>What it means</strong></p>
        <ul>
          <li>minimise duplication of effort by using tools, platforms and services  that are already proven ​</li>
          <li>use the Design System to build with existing capability and contribute to its continuous improvement​</li>
          <li>use State Digital Assets​</li>
          <li>design and build in a way that is responsive to the changing environment ​</li>
          <li>reduce organisational complexity ​</li>
          <li>focus more on creating unique parts of the service, instead of what’s already done ​</li>
          <li>capitalise on economies of scale​</li>
          <li>look to reuse, and make reusable.​</li>
        </ul>
      </div>
    </div>
  </div>
  <hr>
  <div class="nsw-p-y-sm nsw-m-y-sm">
    <div class="nsw-grid">
      <div class="nsw-col nsw-col nsw-col-lg-5">
        <div class="nsw-p-md nsw-section--brand-light nsw-border--brand-light nsw-p-bottom-md nsw-m-top-sm" >
          <h3 class="nsw-h2">Build in the open​</h3>
          <p>Enable clear decision-making authority and accountability throughout your project.​</p>
          <p>Iterate transparently so others can learn and build on your work.​​​</p>
        </div>
      </div>
      <div class="nsw-col  nsw-col nsw-col-lg-7 nsw-p-left-lg">
        <p class="nsw-intro"><strong>What it means</strong></p>
        <ul>
          <li>decision making and the sharing of findings is done in the open ​​​</li>
          <li>you preference open source assets​​​</li>
          <li>you establish and are transparent about team processes​​​</li>
          <li>you secure interactions between systems ​​​</li>
          <li>you are open to comment and are able to justify your decisions.​​​</li>
        </ul>
      </div>
    </div>
  </div>
  <hr>
  <div class="nsw-p-y-sm nsw-m-y-sm">
    <div class="nsw-grid">
      <div class="nsw-col nsw-col nsw-col-lg-5">
        <div class="nsw-p-md nsw-section--brand-light nsw-border--brand-light nsw-p-bottom-md nsw-m-top-sm" >
          <h3 class="nsw-h2">Work in an agile way​</h3>
          <p>Work in an agile and iterative way to build your service. ​</p>
          <p>Make sure it meets user needs before it is developed in full.  ​</p>
        </div>
      </div>
      <div class="nsw-col  nsw-col nsw-col-lg-7 nsw-p-left-lg">
        <p class="nsw-intro"><strong>What it means</strong></p>
        <ul>
          <li>you follow <a href="https://www.digital.nsw.gov.au/digital-service-toolkit/resources/plan-project/agile-approach-service-delivery" target="_blank">agile ways of working</a>​</li>
          <li>use agile governance – see for yourself, empower the doers, don’t slow down delivery​</li>
          <li>build lo-fidelity prototypes to focus on significant functionalities​</li>
          <li>improve usability through constant testing ​</li>
          <li>you put working solutions in customers hands early and often​</li>
          <li>you make sure it meets user needs before it is developed in full​</li>
          <li>continuously validate user needs with every prototype and release.​</li>
        </ul>
      </div>
    </div>
  </div>

</div>
