---
layout: default.hbs
---
    <section class="nsw-section nsw-section--off-white nsw-p-top-lg nsw-p-bottom-lg">
      <div class="nsw-container">
        <h2>Customer Sentiment Check</h2>
        <p class="nsw-intro nsw-intro-partial">Sentiment check is a whole of government widget used to capture real-time customer sentiment for digital products or services.</p>

      </div>
    </section>

      <div class="nsw-container nsw-p-y-lg">
        <h3>What is Customer Sentiment Check?</h3>
        <figure class="nsw-media nsw-media--right-40">
          <img src="https://mysnswdigital.service.nsw.gov.au/themes/custom/snsw/assets/images/dn/dn-img-6.svg" alt="A picture of a black dog">
        </figure>
        <p>Sentiment check uses one click to capture customer feedback and comments are optional. Customers can express positive feedback by selecting the thumbs up icon or negative feedback through clicking the thumbs down.</p>
        <p>Customer sentiment check should be implemented on high volume services, at the end of a process and on important content. </p>
        <p>The data is shared in real-time with all stakeholders - the executive team, the project team, the BAU support team and the minister’s office – through DOMO dashboards.</p>
        <h3>When to use</h3>
        <p class="intro">Sentiment check is most effectively used for services and transactions that have a high volume and a two-way conversation between customer and NSW Government is not necessary.</p>
        <p>Sentiment check is part of all major programs rolled out by Service NSW in the last two years.</p>

        <section class="nsw-section nsw-section--box nsw-section--brand-light nsw-border--brand-light nsw-m-top-lg">
          <!-- START: Section content -->
          <div class="nsw-container">
            <div class="nsw-grid">
              <div class="nsw-col nsw-col-sm-6">
                <h3>Get Started</h3>
                <p>Customer Sentiment Check is run by Government Technology Platforms, part of the Department of Customer Service.</p>
                <div class="nsw-timeline">
                  <div class="nsw-timeline__item">
                    <h3>Register</h3>
                    <div class="nsw-timeline__content">
                      <p>Fill in the form and send your project details to GTP.</p>
                    </div>
                  </div>
                  <div class="nsw-timeline__item">
                    <h3>Integrate</h3>
                    <div class="nsw-timeline__content">
                      <p>Your code will be sent via email, after which your developers can integrate the sentiment check widget.</p>
                    </div>
                  </div>
                  <div class="nsw-timeline__item">
                    <h3>Test</h3>
                    <div class="nsw-timeline__content">
                      <p>Ensure the widget is styled according to your brand, and test the integration with DOMO is working.</p>
                    </div>
                  </div>
                  <div class="nsw-timeline__item">
                    <h3>Measure!</h3>
                    <div class="nsw-timeline__content">
                      <p>Your data is now available on the domo dashboard, and can be used to improve and iterate your product.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="nsw-col nsw-col-md-5 nsw-offset-md-1">
                <div class="nsw-form">
                  <div class="nsw-form__group">
                    <label class="nsw-form__label" for="form-text-2">Your name</label>
                    <input class="nsw-form__input" type="text" id="form-text-2" name="form-text-2" aria-describedby="form-text-2-helper-text">
                  </div>
                  <div class="nsw-form__group">
                    <label class="nsw-form__label" for="form-text-2">Product name</label>
                    <span class="nsw-form__helper" id="form-text-2-helper-text">As it should appear in DOMO</span>
                    <input class="nsw-form__input" type="text" id="form-text-2" name="form-text-2" aria-describedby="form-text-2-helper-text">
                  </div>
                  <div class="nsw-form__group">
                    <label class="nsw-form__label" for="form-text-2">Staging URL</label>
                    <span class="nsw-form__helper" id="form-text-2-helper-text">Used for testing</span>
                    <input class="nsw-form__input" type="text" id="form-text-2" name="form-text-2" aria-describedby="form-text-2-helper-text">
                  </div>
                  <div class="nsw-form__group">
                    <label class="nsw-form__label" for="form-text-2">Live URL</label>
                    <span class="nsw-form__helper" id="form-text-2-helper-text">URL for your live product</span>
                    <input class="nsw-form__input" type="text" id="form-text-2" name="form-text-2" aria-describedby="form-text-2-helper-text">
                  </div>
                  <div class="nsw-form__group">
                    <label class="nsw-form__label" for="form-select-1">Your audience</label>
                    <select class="nsw-form__select" id="form-select-1">
                      <option value="">Please select</option>
                      <option value="1">General public</option>
                      <option value="2">Registered customers</option>
                      <option value="2">Public Servants</option>
                      <option value="2">Team only</option>
                    </select>
                  </div>
                  <div class="nsw-form__group nsw-p-top-sm">
                    <button type="button" class="nsw-button nsw-button--dark">Register</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- END: Section content -->
        </section>

      </div>
