---
layout: default.hbs
---
<section class="nsw-section nsw-section--off-white nsw-p-top-lg nsw-p-bottom-lg">
  <div class="nsw-container">
    <h2>Code &amp; tech</h2>
    <div class="nsw-layout">
      <div class="nsw-layout__main">
        <p class="nsw-intro">A library of off-the-shelf tech solutions and products to help you build things quickly and consistently.</p>
        <p class="nsw-intro">All solutions listed are open-source and free to use, or created for, and operated by, NSW Government.</p>
      </div>
      <div class="nsw-layout__sidebar nsw-layout__sidebar--desktop"></div>
    </div>
  </div>
</section>

      <div class="nsw-container">
        <div class="nsw-layout">
          <div class="nsw-layout__sidebar">
            <form class="nsw-filters nsw-filters--fixed js-filters">
              <div class="nsw-filters__controls active">
                <button>
                  <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">tune</span>
                  <span>Filter results</span>
                </button>
              </div>
              <div class="nsw-filters__wrapper">
                <div class="nsw-filters__back">
                  <button class="nsw-icon-button nsw-icon-button--flex js-close-sub-nav" type="button" aria-expanded="true" aria-controls="sub-nav-">
                    <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">keyboard_arrow_left</span>
                    <span id="mobile-show">Show results</span>
                  </button>
                </div>
                <div class="nsw-filters__title">Filter results</div>
                <div class="nsw-filters__list">
                  <div class="nsw-filters__item">
                    <label class="nsw-form__label" for="filters-all-keyword">Search</label>
                    <input class="nsw-form__input" type="text" id="filters-all-keyword" name="filters-keyword" value="">
                  </div>
                </div>
              </div>
            </form>
          </div>
          <main class="nsw-layout__main">
            <div class="nsw-results-bar">
              <div class="nsw-results-bar__info"></div>
            </div>
            <div class="nsw-search-results">
              <div id="soluions"></div>
            </div>
          </main>
        </div>
      </div>

      <script>
      (function() {
        var dataset;

        const keywords = document.getElementById("filters-all-keyword");

        if(keywords.value.length==0){
            var searchParams = new URLSearchParams(window.location.search);
            query = searchParams.get('q');
            keywords.value = query;
            console.log(query)
        }

        function rePopulate(){
          document.getElementById("soluions").replaceChildren();
          populate();
        }

        function populate(searchStr){
          var theCount = 0;

          for (const [key, value] of Object.entries(dataset)) {
            var increment = false;

            const listItem = document.createElement("div");
            listItem.classList = "nsw-list-item";

            const listItemInner = document.createElement("div");
            listItemInner.classList = "nsw-list-item__content";

            const label = document.createElement("div");
            label.classList = "nsw-list-item__label";
            label.innerHTML = value.solutions_category.Name;
            listItemInner.appendChild(label);

            const title = document.createElement("div");
            title.classList = "nsw-list-item__title";
            title.innerHTML = `<a href="${value.URL}" target="_blank">${value.title}</a>`
            listItemInner.appendChild(title);

            const synopsis = document.createElement("div");
            synopsis.classList = "nsw-list-item__copy";
            synopsis.innerHTML = value.synopsis
            listItemInner.appendChild(synopsis);

              if(document.getElementById(`filters-categories-${value.solutions_category.id}`).checked){
                if(keywords.value.length=0 || listItemInner.textContent.toLowerCase().includes(keywords.value.toLowerCase())){
                  document.getElementById("soluions").appendChild(listItem);
                  increment = true;
                }

              }



            if (increment){theCount++}

            listItem.appendChild(listItemInner);
            document.querySelector(".nsw-results-bar__info").innerHTML = `${theCount} results`;
            document.getElementById('mobile-show').innerHTML = `Show ${theCount} results`;

          }
        }


        fetch('https://nsw-design-system-guides.herokuapp.com/solutions-categories').then(function (response) {
          return response.json();
        }).then(function (data) {
          let tagPropPromise = new Promise(function(resolve, reject) {
            const catGroup = document.createElement("div");
            catGroup.classList = "nsw-filters__item";

            const catSet = document.createElement("fieldset");
            catSet.classList = "nsw-form__fieldset";
            catSet.innerHTML = '<legend class="nsw-form__legend">Categories</legend>';

            catGroup.append(catSet);

            for (const [key, value] of Object.entries(data)) {
              catSet.innerHTML += `
                <input checked class="nsw-form__checkbox-input" type="checkbox" name="filters-categories" value="Customer Service" id="filters-categories-${value.id}">
                <label class="nsw-form__checkbox-label" for="filters-categories-${value.id}">${value.Name}</label>
                `;
            }

            document.querySelector(".nsw-filters__list").append(catGroup);

            resolve(); // when successful
            reject();  // when error
          });

          tagPropPromise.then(
            function(value) {
              fetch('https://nsw-design-system-guides.herokuapp.com/solutions').then(function (response) {
                return response.json();
              }).then(function (data) {
                dataset = data;

                populate();

              }).catch(function (err) {
                // There was an error
                console.warn('Something went wrong getting soluions.', err);
              });
            },
            function(error) { /* code if some error */ }
          )
        }).catch(function (err) {
          // There was an error
          console.warn('Something went wrong adding checkboxes.', err);
        });



        document.querySelector(".nsw-filters__list").addEventListener('click', function(e) {
        	if(e.target.nodeName == 'INPUT') {
            rePopulate()
        	}
        });

        keywords.addEventListener('keyup', function(e) {
          rePopulate();
        });
      })();
      </script>
