---
layout: default.hbs
---
    <section class="nsw-section nsw-section--off-white nsw-p-top-lg nsw-p-bottom-lg">
      <div class="nsw-container">
        <h2>Solutions</h2>
        <div class="nsw-layout">
          <div class="nsw-layout__main">
            <p class="nsw-intro">A library of off-the-shelf tech solutions and platforms to help you build things quickly and consistently.</p>
            <div class="nsw-form__input-group nsw-m-top-lg">
              <label class="sr-only" for="search-input">Search</label>
              <input class="nsw-form__input" type="text" id="search-input" name="search-input" value="">
              <button class="nsw-button nsw-button--dark nsw-button--flex" type="submit">Search</button>
            </div>
          </div>
          <div class="nsw-layout__sidebar nsw-layout__sidebar--desktop"></div>
        </div>
      </div>
    </section>

      <div class="nsw-container">
        <div class="nsw-layout">
          <div class="nsw-layout__sidebar nsw-layout__sidebar--desktop">

            <form class="nsw-filters nsw-filters--fixed js-filters">
              <div class="nsw-filters__controls active">
                <button>
                  <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">tune</span>
                  <span>Filter results  (2)</span>
                </button>
              </div>
              <div class="nsw-filters__wrapper">
                <div class="nsw-filters__back">
                  <button class="nsw-icon-button nsw-icon-button--flex js-close-sub-nav" type="button" aria-expanded="true" aria-controls="sub-nav-">
                    <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">keyboard_arrow_left</span>
                    <span>Back</span>
                  </button>
                </div>
                <div class="nsw-filters__title">Filter results</div>
                <div class="nsw-filters__list">

                  <div class="nsw-filters__item">
                    <fieldset class="nsw-form__fieldset">
                      <legend class="nsw-form__legend">Categories</legend>
                      <input class="nsw-form__checkbox-input" type="checkbox" name="filters-instant-categories" value="Customer Service" id="filters-instant-categories-1">
                      <label class="nsw-form__checkbox-label" for="filters-instant-categories-1">SaaS Platforms</label>
                      <input class="nsw-form__checkbox-input" type="checkbox" name="filters-instant-categories" value="Communities and Justice" id="filters-instant-categories-2">
                      <label class="nsw-form__checkbox-label" for="filters-instant-categories-2">Developer kits</label>
                      <input class="nsw-form__checkbox-input" type="checkbox" name="filters-instant-categories" value="Education" id="filters-instant-categories-3">
                      <label class="nsw-form__checkbox-label" for="filters-instant-categories-3">Integrations</label>
                      <input class="nsw-form__checkbox-input" type="checkbox" name="filters-instant-categories" value="Health" id="filters-instant-categories-4">
                      <label class="nsw-form__checkbox-label" for="filters-instant-categories-4">Data management</label>
                    </fieldset>
                  </div>

                </div>
                <div class="nsw-filters__cancel">
                  <button type="reset">Clear all filters</button>
                </div>
              </div>
            </form>

          </div>
          <main class="nsw-layout__main">
            <div class="nsw-results-bar">
              <div class="nsw-results-bar__info">Showing results 1 - 10 of 23 results</div>
            </div>
            <div class="nsw-search-results">
              {{> list-item
                heading="Customer Sentiment check"
                label="Integration"
                copy="This solution is also commonly known as Thumbs-up Thumbs-down (TUTD). Sentiment check is a whole of government widget used to capture real-time customer sentiment for digital products or services."
                link="/solutions/customer-sentiment-check/"
              }}

              {{> list-item
                heading="Login with Service NSW"
                label="Integration"
                copy="Give residents simple and secure access to NSW Government services with one set of credentials."
                link="https://mysnswdigital.service.nsw.gov.au/log-in-with-service-nsw"
              }}

              {{> list-item
                heading="Digital Notifications"
                label="Integration"
                copy="Reach your customers across multiple digital channels with Service NSW Digital Notifications."
                link="https://mysnswdigital.service.nsw.gov.au/digital-notifications"
              }}

              {{> list-item
                heading="NSW Design System for Squiz Matrix"
                label="Developer kit"
                copy="The Squiz Matrix Digital.NSW Starter kit for Matrix enables you to quickly build and launch a new website in Squiz Matrix using the Digital Design System."
                link="https://marketplace.squiz.net/templates/digital-nsw-starter-website-template"
              }}

              {{> list-item
                heading="NSW Point"
                label="Integration"
                copy="Consistent and reliable address look-ups for your forms. Available as an API you can configure with your existing form fields, or embed the NSW Point Widget for an out of-the-box working model you can integrate directly into your website."
                link="https://point.digital.nsw.gov.au/v2/docs/index.html"
              }}

              {{> list-item
                heading="Customer Payments Platform"
                label="Integration"
                copy="Provides full revenue management from Point-of-sale, fees & receipting, multi-channel payment and shopping cart payment capabilities."
                link="#cpp"
              }}

              {{> list-item
                heading="Licence.nsw"
                label="SaaS Platform"
                copy="Provides the capability to use web based, or digital-device based, transactions for any legacy paper-based licence transaction."
                link="#lnsw"
              }}

              <nav class="nsw-pagination" aria-label="Pagination">
                <ul>
                  <li>
                    <a class="nsw-icon-button" href="#">
                      <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">keyboard_arrow_left</span>
                      <span class="sr-only">Back</span>
                    </a>
                  </li>
                  <li><a class="active" href="#"><span class="sr-only">Page </span>1</a></li>
                  <li><a href="#"><span class="sr-only">Page </span>2</a></li>
                  <li><a href="#"><span class="sr-only">Page </span>3</a></li>
                  <li><span>&hellip;</span></li>
                  <li><a href="#"><span class="sr-only">Page </span>6</a></li>
                  <li>
                    <a class="nsw-icon-button" href="#">
                      <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">keyboard_arrow_right</span>
                      <span class="sr-only">Next</span>
                    </a>
                  </li>
                </ul>
              </nav>

            </div>
          </main>
        </div>
      </div>
